/* **************************** */
/*      HEADER SECTION          */
/* **************************** */

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* **************************** */
/*        NAVIGATION            */
/* **************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ==== My code below for analysis ===*/

/* .main-nav {}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link {
  text-decoration: none;
  /* display: inline-block; */
/* font: 3rem;
  font-weight: 500; */
/* }

.main-nav-link:link,
.main-nav-link:visited { */
/* z-index: 1; To set priority */
/* color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b8651b;
}

.nav-cta:link,
.nav-cta:visited {
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #e67e22;
} */

/* **************************** */
/*        HERO SECTION          */
/* **************************** */

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  /* font-weight: 400; */
  line-height: 1.6;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  /* To reset the margin for last element */
  margin: 0;
}

.delivered-text {
  /* display: flex; */
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #b8651b;
  font-weight: 700;
}

/* **************************** */
/*    HOW IT WORKS SECTION      */
/* **************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: #dfdadaec;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  box-shadow: #4a4848 0.02rem;
}

.section-how div {
  /* padding: 100px; */
  /* font-size: 50px; */
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.75px;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-img-box::before {
  content: "";
  background-color: #fdf2e9;
  width: 60%;
  /* height: 6rem; Not working */
  /* ---- Workaround ---*/
  padding-bottom: 60%;
  border-radius: 50%;

  display: block;
  position: absolute;

  z-index: -1;
  /* Setting negative value here so it appears in background of the image */
}

.step-img {
  width: 35%;
}